{% extends 'base.html.twig' %}

{% block title %}consulter une voiture{% endblock %}

{% block body %}
<div class="container mx-2 mt-5 ">
    <h1 class="pt-20">consulter une voiture</h1>
      <a href="{{ path('admin') }}" >page Admin</a>
   
    </div>
    <table class="table table-striped table-hover">
   <thead>
        <tr>
            <th>ID</th>
            <th>Marque</th>
            <th>Matricule</th>
            <th>Couleur</th>
            <th>Description</th>
            <th>Nombre de places</th>
            <th>Nom agence</th>
        </tr>

    </thead>

        <tr>
            <td>{{voiture.id}}</td>
            <td>{{voiture.marque}}</td>
            <td>{{voiture.matricule}}</td>
            <td>{{voiture.couleur}}</td>
             <td>{{voiture.description}}</td>
            <td>{{voiture.nbrplace}}</td>
          <td>{{voiture.agence}}</td> 

        </tr>

</table>
{% endblock %}
